/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.hideapp {
    display: none;
}
html {
    /* Required for page height hotfix */
    height: 100%;
}

/* Theme the placeholder text */
#headerbigscreenq *::-webkit-input-placeholder {
    color: white;
}

#headerbigscreenq *:-moz-placeholder {
    /* FF 4-18 */
    color: white;
}

#headerbigscreenq *::-moz-placeholder {
    /* FF 19+ */
    color: white;
}

#headerbigscreenq *:-ms-input-placeholder {
    /* IE 10+ */
    color: white;
}